Repository Rindrics/izuminokami-kanesada: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["biome check --write"],
  "contents/**/*.yaml": ["prettier --write"]
}

feat: integrate collection button into content pages
  src/app/books/[bookId]/[sectionId]/page.tsx
  src/components/AuthButton.tsx
  src/components/ContentPageClient.tsx
Due: biome check --write

fix: prevent userId mutation in publicCollections update rule
  firestore.rules
Due: none

fix: prevent unauthenticated users from navigating to protected /collections
  src/app/collections/public/page.tsx
Due: biome check --write

refactor: extract content display helpers to shared module
  src/components/CollectionDetailModal.tsx
  src/components/PublicCollectionDetailModal.tsx
  src/lib/contentDisplay.ts
Due: biome check --write

fix: surface collection operation errors to user with inline messages
  src/components/AddToCollectionModal.tsx
Due: biome check --write

fix: prevent orphaned documents in deleteCollection with cleanup pass
  src/lib/collections.ts
Due: biome check --write

perf: eliminate N+1 reads in getCollections by denormalizing contentCount
  src/lib/collections.ts
  src/types/collection.ts
Due: biome check --write

fix: add null-safe chaining to all Timestamp.toMillis() calls
  src/lib/collections.ts
Due: biome check --write

perf: parallelize reads in getCollectionsForContent with Promise.all
  src/lib/collections.ts
Due: biome check --write

fix: verify isPublic flag in getPublicCollectionWithContents
  src/lib/collections.ts
Due: biome check --write

fix(collections): improve error handling
  src/components/AddToCollectionModal.tsx
Due: biome check --write

fix(collections): remove expensive subcollection read
  src/lib/collections.ts
Due: biome check --write

fix(collections): make content add/remove operations atomic using transactions
  src/lib/collections.ts
Due: biome check --write

fix(collections): eliminate TOCTOU race condition in updateCollection using transactions
  src/lib/collections.ts
Due: biome check --write

fix: exclude primer from generation target
  scripts/generate-contents.ts
Due: biome check --write

fix: exclude primers from validation
  scripts/validate-audio-manifest.ts
  scripts/validate-content-diff.ts
Due: biome check --write

feat: propagate primer flag through content generation pipeline
  package.json
  scripts/generate-contents.ts
  src/types/content.ts
Due: biome check --write

fix: allow content generation to handle large arrays without truncation
  scripts/generate-contents.ts
Due: biome check --write

feat: add lunyu 2
  contents/input/lunyu/2/11.yaml
  contents/input/lunyu/2/14.yaml
  contents/input/lunyu/2/17.yaml
  contents/input/lunyu/2/3.yaml
  contents/input/lunyu/2/4.yaml
  src/data/hanzi-dictionary.ts
  src/data/kunyomi-dictionary.ts
Due: biome check --write, prettier --write

feat: add lunyu 3
  contents/input/lunyu/3/1.yaml
  contents/input/lunyu/3/3.yaml
Due: prettier --write

feat: add lunyu 4
  contents/input/lunyu/4/1.yaml
  contents/input/lunyu/4/12.yaml
  contents/input/lunyu/4/7.yaml
  contents/input/lunyu/4/8.yaml
  src/data/hanzi-dictionary.ts
  src/data/kunyomi-dictionary.ts
Due: biome check --write, prettier --write

feat: add lunyu from 5 to 10
  audio-manifest.json
  contents/input/lunyu/10/1.yaml
  contents/input/lunyu/10/11.yaml
  contents/input/lunyu/10/20.yaml
  contents/input/lunyu/2/17.yaml
  contents/input/lunyu/2/4.yaml
  contents/input/lunyu/4/1.yaml
  contents/input/lunyu/4/7.yaml
  contents/input/lunyu/5/1.yaml
  contents/input/lunyu/5/27.yaml
  contents/input/lunyu/6/1.yaml
  contents/input/lunyu/7/1.yaml
  contents/input/lunyu/7/15.yaml
  contents/input/lunyu/7/21.yaml
  contents/input/lunyu/7/26.yaml
  contents/input/lunyu/8/1.yaml
  contents/input/lunyu/8/17.yaml
  contents/input/lunyu/8/5.yaml
  contents/input/lunyu/9/1.yaml
  contents/input/lunyu/9/18.yaml
  contents/input/lunyu/9/28.yaml
  contents/input/lunyu/9/29.yaml
  src/data/hanzi-dictionary.ts
  src/data/kunyomi-dictionary.ts
Due: biome check --write, prettier --write

fix(scripts): normalize undefined speaker to null in content generation
  scripts/generate-contents.ts
Due: biome check --write

feat: generate audio
  audio-manifest.json
  contents/input/lunyu/17/5.yaml
Due: prettier --write

[tagpr] prepare for the next release
  package.json
Due: none

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: redefine daxue sections
  contents/books.yaml
Due: prettier --write

fix: redefine zhongyong sections
  contents/books.yaml
Due: prettier --write

refactor: add `sectionLael` to book schema
  contents/books.yaml
  scripts/generate-contents.ts
  src/app/books/[bookId]/[sectionId]/page.tsx
  src/app/books/[bookId]/page.tsx
  src/app/page.tsx
  src/types/book.ts
Due: biome check --write, prettier --write

fix: remove changelog about unreleased tag
  CHANGELOG.md
Due: none

fix: stop audio on navigation
  models/AudioPlayer.tla
  src/components/AudioPlayer.tsx
Due: biome check --write

Fix Japanese translations for clarity and accuracy
  contents/input/daxue/1/1.yaml
Due: prettier --write
