Repository Rindrics/izuminokami-kanesada: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

test: add tests for segment-based line break behavior
  src/components/HakubunWithTabs.test.tsx
Due: biome check --write

refactor: migrate YAML files: replace semicolons with segment splits
  contents/input/daxue/1/1.yaml
  contents/input/lunyu/1/1.yaml
  contents/input/lunyu/1/10.yaml
  contents/input/lunyu/1/11.yaml
  contents/input/lunyu/1/2.yaml
  contents/input/lunyu/1/4.yaml
  contents/input/lunyu/1/5.yaml
  contents/input/lunyu/1/6.yaml
  contents/input/lunyu/1/7.yaml
  contents/input/lunyu/1/8.yaml
  contents/input/lunyu/12/1.yaml
  contents/input/lunyu/17/8.yaml
  contents/input/lunyu/2/1.yaml
  contents/input/mengzi/1/1-2.yaml
  contents/input/mengzi/1/1-3.yaml
  contents/input/mengzi/1/1-4.yaml
  contents/input/zhongyong/1/1.yaml
Due: prettier --write

refactor(ui): align indent of multiple segments by same speaker
  src/components/HakubunWithTabs.tsx
Due: biome check --write

fix: group same-speaker segments for consistent indentation
  src/components/HakubunWithTabs.tsx
Due: biome check --write

feat: show implicit speaker change with dashes (e.g., ― 孔子 ―)
  src/components/HakubunWithTabs.tsx
Due: biome check --write

chore: harden audio APIs against path traversal and CSRF attacks
  src/app/api/audio/save/route.ts
  src/app/api/audio/serve/route.ts
Due: biome check --write

fix(components): release microphone on AudioRecorder unmount
  src/components/AudioRecorder.tsx
Due: biome check --write

fix(adr): explain reason ofrefactor: remove redundant null check for group.speaker
  src/components/HakubunWithTabs.tsx
Due: biome check --write

fix: prioritize Origin header and handle IPv6 in isAllowedHost
  src/app/api/audio/save/route.ts
  src/components/HakubunWithTabs.tsx
Due: biome check --write

fix: add localhost-only guard to audio serve endpoint
  src/app/api/audio/serve/route.ts
Due: biome check --write

fix: restrict audio upload to WebM MIME type only
  src/app/api/audio/save/route.ts
Due: biome check --write

fix: correct Japanese pronounciations
  contents/input/daxue/1/1.yaml
  contents/input/lunyu/17/8.yaml
  contents/input/mengzi/1/1-2.yaml
  src/data/kunyomi-dictionary.ts
Due: biome check --write, prettier --write

refactor(types): remove unused japanese_ruby feature
  mcp-server/src/resources/schema.ts
  src/app/books/[bookId]/[sectionId]/[chapterId]/page.tsx
  src/components/JapaneseTextWithRuby.tsx
  src/types/content.ts
Due: biome check --write

refactor(types): change Segment.text to object with original/japanese
  src/types/content.ts
Due: biome check --write

refactor(mcp): update schemas for new segment structure
  mcp-server/src/resources/schema.ts
  mcp-server/src/tools/content.ts
Due: biome check --write

refactor(scripts): update generate-contents for new segment structure
  scripts/generate-contents.ts
Due: biome check --write

feat(ui): display japanese per segment with line breaks
  scripts/generate-audio.ts
  src/app/books/[bookId]/[sectionId]/[chapterId]/page.tsx
  src/components/HakubunWithTabs.tsx
  src/lib/validators/content.ts
Due: biome check --write

chore(content): migrate YAML files to new segment structure
  contents/input/daxue/1/1.yaml
  contents/input/lunyu/1/1.yaml
  contents/input/lunyu/1/10.yaml
  contents/input/lunyu/1/11.yaml
  contents/input/lunyu/1/2.yaml
  contents/input/lunyu/1/3.yaml
  contents/input/lunyu/1/4.yaml
  contents/input/lunyu/1/5.yaml
  contents/input/lunyu/1/6.yaml
  contents/input/lunyu/1/7.yaml
  contents/input/lunyu/1/8.yaml
  contents/input/lunyu/1/9.yaml
  contents/input/lunyu/12/1.yaml
  contents/input/lunyu/17/8.yaml
  contents/input/lunyu/2/1.yaml
  contents/input/mengzi/1/1-1.yaml
  contents/input/mengzi/1/1-2.yaml
  contents/input/mengzi/1/1-3.yaml
  contents/input/mengzi/1/1-4.yaml
  contents/input/zhongyong/1/1.yaml
  scripts/generate-contents.ts
Due: biome check --write, prettier --write

chore: fix broken test
  scripts/generate-audio.test.ts
  src/lib/validators/content.test.ts
Due: biome check --write

fix(scripts): normalize missing mentioned array in YAML parsing
  scripts/generate-contents.ts
Due: biome check --write

chore: add defensive validation for segment text structure
  scripts/generate-contents.ts
Due: biome check --write

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: exclude 能 and 亦 from frequency ranking
  contents/input/frequency-blacklist.yaml
Due: prettier --write

chore: add key concepts
  scripts/generate-contents.ts
Due: biome check --write

refactor: extract graph types to shared module
  src/components/DialogueGraph.tsx
  src/lib/graph/types.ts
Due: biome check --write

refactor: extract graph data transformation to dedicated module
  src/components/DialogueGraph.tsx
  src/lib/graph/transforms.ts
Due: biome check --write

feat: add BioFabric graph visualization component
  src/components/graphs/BioFabricGraph.tsx
Due: biome check --write

fix: check error
  src/components/DialogueGraph.tsx
  src/components/MentionGraph.tsx
  src/lib/validators/hanzi.ts
Due: biome check --write

feat: provide BioFabric diagram on stats page
  src/app/stats/page.tsx
  src/components/graphs/BioFabricGraph.tsx
  src/components/graphs/DialogueGraphSection.tsx
Due: biome check --write

feat: provide word cloud on stats page
  package.json
  pnpm-lock.yaml
  src/app/stats/page.tsx
  src/components/graphs/WordCloud.tsx
Due: biome check --write, prettier --write

feat(ui): do not rotate characters on word cloud
  src/components/graphs/WordCloud.tsx
Due: biome check --write

fixup! feat: provide word cloud on stats page
  src/components/graphs/WordCloud.tsx
Due: biome check --write

feat: provide circular diagram
  src/app/stats/page.tsx
  src/components/graphs/CircularLayout.tsx
Due: biome check --write

feat: provide chord diagram
  package.json
  pnpm-lock.yaml
  src/app/stats/page.tsx
  src/components/graphs/CharChordDiagram.tsx
  src/components/graphs/ChordDiagram.tsx
  src/components/ui/Tabs.tsx
Due: biome check --write, prettier --write

fix(ui): adjust text color
  src/components/graphs/CharChordDiagram.tsx
  src/components/graphs/ChordDiagram.tsx
  src/components/graphs/CircularLayout.tsx
  src/components/graphs/WordCloud.tsx
Due: biome check --write

fix(ui): adjust dialogue graph
  src/components/DialogueGraph.tsx
Due: biome check --write

feat: provide voronoi treemap
  package.json
  pnpm-lock.yaml
  src/app/stats/page.tsx
  src/components/graphs/VoronoiTreemap.tsx
Due: biome check --write, prettier --write

feat: provide alluvial diagram
  .lintstagedrc.json
  pnpm-lock.yaml
  src/app/char/[char]/CharContentList.tsx
  src/app/char/[char]/page.tsx
  src/app/stats/page.tsx
  src/components/graphs/AlluvialDiagram.tsx
Due: biome check --write, prettier --write

fix: build error
  src/components/graphs/CharChordDiagram.tsx
  src/components/graphs/ChordDiagram.tsx
  src/components/graphs/WordCloud.tsx
  src/types/d3-voronoi-treemap.d.ts
Due: biome check --write

Path conditions:
  biome check --write: any of: *.{ts,tsx}
  prettier --write: any of: *.yaml
