Repository Rindrics/izuminokami-kanesada: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["biome check --write"],
  "*.yaml": ["prettier --write"]
}

[tagpr] prepare for the next release
  package.json
Due: none

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: allow agent to read YAML
  .gitignore
  mcp-server/package.json
  mcp-server/pnpm-lock.yaml
  mcp-server/src/tools/content.ts
  mcp-server/src/tools/dictionary.ts
Due: biome check --write, prettier --write

fix: secify tone sandhi via MCP
  contents/input/lunyu/1/8.yaml
Due: prettier --write

docs(adr): validate unclear tone sandhi candidates
  adr/0016-tone-sandhi-validation.md
Due: none

feat: add 17-8
  contents/input/lunyu/17/8.yaml
  contents/persons.yaml
  src/data/hanzi-dictionary.ts
  src/data/kunyomi-dictionary.ts
Due: biome check --write, prettier --write

fix: preserve URL from user request
  firebase.json
Due: none

chore: guard path travarsal attack
  mcp-server/src/tools/content.ts
Due: biome check --write

feat: define service accounts to use TTS
  .env.example
  .gitignore
  terraform/.gitignore
  terraform/main.tf
  terraform/service-accounts.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: none

refactor: redefine prd resources using mofule
  terraform/environments/prd/main.tf
  terraform/environments/prd/outputs.tf
  terraform/environments/prd/terraform.tfvars.example
  terraform/environments/prd/variables.tf
  terraform/modules/tts-service-account/main.tf
  terraform/modules/tts-service-account/outputs.tf
  terraform/modules/tts-service-account/variables.tf
Due: none

feat: create service account on dev
  terraform/environments/dev/.env.example
  terraform/environments/dev/main.tf
  terraform/environments/dev/outputs.tf
  terraform/environments/dev/terraform.tfvars.example
  terraform/environments/dev/variables.tf
  terraform/environments/prd/variables.tf
  terraform/main.tf
  terraform/modules/tts-service-account/main.tf
  terraform/service-accounts.tf
  terraform/terraform.tfvars.example
Due: none

feat: add storage bucket for audio files
  terraform/environments/dev/main.tf
  terraform/environments/dev/outputs.tf
  terraform/environments/prd/main.tf
  terraform/environments/prd/outputs.tf
  terraform/modules/audio-storage/main.tf
  terraform/modules/audio-storage/outputs.tf
  terraform/modules/audio-storage/variables.tf
Due: none

docs(adr): don't use CDN at this point
  adr/0020-audio-delivery-without-cdn.md
Due: none

fix: narrow ignore scope of json
  .gitignore
Due: none

feat: generate audio from content YAML
  .gitignore
  adr/0017-audio-manifest-strategy.md
  package.json
  pnpm-lock.yaml
  scripts/generate-audio.test.ts
  scripts/generate-audio.ts
  tsconfig.json
Due: biome check --write, prettier --write

feat(mcp): return pinyin to let agent override meaning_id to fit sentence context
  mcp-server/src/resources/schema.ts
  mcp-server/src/tools/content.ts
Due: biome check --write

feat: generate audio of Japanese onyomi
  scripts/generate-audio.ts
  src/lib/ruby.ts
Due: biome check --write

docs(adr): audio generation strategy
  adr/0018-audio-generation-strategy.md
Due: none

feat: generate manifest of audio files
  adr/0017-audio-manifest-strategy.md
  audio-manifest.json
  scripts/generate-audio.ts
Due: biome check --write

build: add audio manifest validation to pre-push hook
  .husky/pre-push
  package.json
  scripts/validate-audio-manifest.ts
Due: biome check --write

feat: add MCP tools for audio generation workflow
  adr/0019-audio-generation-workflow.md
  mcp-server/src/tools/content.ts
Due: biome check --write

feat: upload audio using MCP server
  .cursor/mcp.json
  .gitignore
  audio-manifest.json
  mcp-server/src/tools/content.ts
  package.json
  pnpm-lock.yaml
  scripts/generate-audio.ts
  scripts/upload-audio.ts
  terraform/modules/tts-service-account/main.tf
Due: biome check --write, prettier --write

fix: narrow ignore scope
  .gitignore
Due: none

fix: import path in MCP server
  mcp-server/src/index.ts
Due: biome check --write

docs(adr): add ADR-0021 for speaker field semantics
  adr/0021-speaker-field-semantics.md
Due: none

feat(mcp): auto-detect and fix narration patterns in write_content_yaml
  mcp-server/src/tools/content.ts
Due: biome check --write

feat(audio): add multi-voice support for Chinese and update Japanese voice
  scripts/generate-audio.ts
Due: biome check --write

feat: adjust voice pitch to distinguish two speakers
  scripts/generate-audio.ts
Due: biome check --write

fix: break line if speaker is changed
  src/components/HakubunWithTabs.tsx
Due: biome check --write

fix: break line at segment change
  src/components/HakubunWithTabs.tsx
Due: biome check --write

fix(ui): improve line breaks for segment display
  mcp-server/src/tools/content.ts
  src/lib/validators/content.ts
Due: biome check --write

feat: regenerate audio of preexistent contents
  audio-manifest.json
  contents/input/lunyu/1/10.yaml
  contents/input/lunyu/1/2.yaml
  contents/input/lunyu/1/3.yaml
  contents/input/lunyu/1/4.yaml
  contents/input/lunyu/1/5.yaml
  contents/input/lunyu/1/6.yaml
  contents/input/lunyu/1/7.yaml
  contents/input/lunyu/1/8.yaml
  contents/input/lunyu/1/9.yaml
  contents/input/lunyu/12/1.yaml
  contents/input/lunyu/17/8.yaml
Due: prettier --write

feat: upload audio after generation
  adr/0022-audio-upload-timing.md
  mcp-server/src/tools/content.ts
  package.json
  scripts/generate-and-upload-audio.ts
  scripts/upload-audio.ts
Due: biome check --write

feat: validate content after generation
  mcp-server/src/tools/content.ts
Due: biome check --write

feat: correct dictionary using MCP
  contents/input/lunyu/12/1.yaml
  contents/persons.yaml
  mcp-server/src/tools/content.ts
  mcp-server/src/tools/dictionary.ts
  src/data/hanzi-dictionary.ts
  src/data/kunyomi-dictionary.ts
  src/lib/validators/content.ts
Due: biome check --write, prettier --write

refactor: improve maintainability by importing dictionary module
  mcp-server/src/tools/content.ts
Due: biome check --write

fix: avoid overmatching
  mcp-server/src/tools/dictionary.ts
Due: biome check --write

refactor(ui): simplify wrapper element
  src/components/HakubunWithTabs.tsx
Due: biome check --write
