Repository Rindrics/izuminokami-kanesada: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

build: include next.config.ts to check target
  biome.json
Due: none

fix: remove URL encoding from char routes for Firebase compatibility
  src/app/char/[char]/page.tsx
Due: biome check --write

feat: publish audio bucket
  adr/0020-audio-delivery-without-cdn.md
  terraform/modules/audio-storage/main.tf
Due: none

feat: add audio player component and URL generation utility
  src/components/AudioPlayer.tsx
  src/lib/audio.ts
Due: biome check --write

feat: integrate audio player into content page
  audio-manifest.json
  src/app/books/[bookId]/[sectionId]/[chapterId]/page.tsx
Due: biome check --write

docs: update README.md
  README.md
Due: none

fix: update audio of lunyu 2-1
  audio-manifest.json
Due: none

fix: add cache busting to audio URLs using manifest hash
  src/lib/audio.ts
Due: biome check --write

[tagpr] prepare for the next release
  package.json
Due: none

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Due: none

refactor: simplify Chinese voice config to single voice type
  scripts/generate-audio.ts
Due: biome check --write

feat: add character-specific prosody parameters for Chinese TTS
  scripts/generate-audio.ts
Due: biome check --write

feat: add SSML paragraph and sentence tags for structured speech
  scripts/generate-audio.ts
Due: biome check --write

feat: regenerate audio with new voices
  audio-manifest.json
  contents/input/lunyu/1/1.yaml
  contents/input/lunyu/1/11.yaml
  contents/input/lunyu/12/1.yaml
  contents/input/lunyu/2/1.yaml
Due: prettier --write

feat: register 大学 1-1
  audio-manifest.json
  contents/input/daxue/1/1.yaml
  src/data/hanzi-dictionary.ts
  src/data/kunyomi-dictionary.ts
Due: biome check --write, prettier --write

fix(mcp): create YAML with pinyin_reviewed=false
  mcp-server/src/tools/content.ts
Due: biome check --write

feat: add 中庸 1-1
  audio-manifest.json
  contents/input/zhongyong/1/1.yaml
  src/data/hanzi-dictionary.ts
  src/data/kunyomi-dictionary.ts
Due: biome check --write, prettier --write

feat: add 孟子 1-1
  audio-manifest.json
  contents/input/mengzi/1/1-1.yaml
  contents/input/mengzi/1/1-2.yaml
  contents/input/mengzi/1/1-3.yaml
  contents/input/mengzi/1/1-4.yaml
  contents/persons.yaml
  src/data/hanzi-dictionary.ts
  src/data/kunyomi-dictionary.ts
Due: biome check --write, prettier --write

fix(audio): broken test
  scripts/generate-audio.test.ts
Due: biome check --write

fix(audio): vallidation error
  contents/input/mengzi/1/1-1.yaml
  contents/input/mengzi/1/1-2.yaml
  contents/input/mengzi/1/1-3.yaml
  contents/input/mengzi/1/1-4.yaml
Due: prettier --write

fix: correct onyomi
  contents/input/lunyu/1/7.yaml
  contents/input/mengzi/1/1-1.yaml
  contents/input/mengzi/1/1-2.yaml
  src/data/hanzi-dictionary.ts
Due: biome check --write, prettier --write

fix(audio): disable TTS onyomi audio to prepare for manual recording
  audio-manifest.json
Due: none

fix(ui): hide onyomi button when audio is unavailable instead of disabling it
  src/components/AudioPlayer.tsx
Due: biome check --write

chore(audio): remove TTS onyomi generation logic as we're moving to manual recording
  scripts/generate-audio.ts
Due: biome check --write

chore(mcp): update MCP tools to handle zh-only audio generation
  mcp-server/src/tools/content.ts
Due: biome check --write

refactor: optimize the initial language state in audio player
  src/components/AudioPlayer.tsx
Due: biome check --write

fix(ui): avoid accidentally disabled playback
  src/components/AudioPlayer.tsx
Due: biome check --write

feat(audio): support webm format for manually recorded onyomi audio
  src/lib/audio.ts
Due: biome check --write

feat(audio): add AudioRecorder component for manual onyomi recording
  src/components/AudioRecorder.tsx
Due: biome check --write

feat(api): add endpoint to save recorded audio locally
  src/app/api/audio/save/route.ts
Due: biome check --write

feat(audio): integrate AudioRecorder into content page for dev environment
  src/app/books/[bookId]/[sectionId]/[chapterId]/page.tsx
Due: biome check --write

feat(audio): use webm format for manually recorded onyomi audio
  audio-manifest.json
  scripts/upload-audio.ts
  src/app/api/audio/serve/route.ts
  src/lib/audio.ts
Due: biome check --write

build(audio): exclude dev-only API routes from production build
  package.json
Due: none

docs(adr): deprecate ADR-0011: semicolon marker no longer needed
  adr/0011-line-break-marker-convention.md
Due: none

feat: remove semicolon marker parsing from codebase
  mcp-server/src/resources/schema.ts
  src/components/HakubunWithTabs.tsx
Due: biome check --write

Path conditions:
  biome check --write: any of: *.{ts,tsx}
  prettier --write: any of: *.yaml
