Repository Rindrics/izuminokami-kanesada: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

fix(AudioPlayer): cleanup event listeners and fix selectedSegments initialization
  src/components/AudioPlayer.tsx
Due: biome check --write

docs(adr): simplify wording and fix table formatting in ADR-0024
  adr/0024-segment-based-audio-generation.md
Due: none

fix(useSegmentPlayer): defensive rangeEnd initialization and avoid unnecessary re-renders
  src/hooks/useSegmentPlayer.ts
Due: biome check --write

fix(audio-manifest): add default value to segmentIndex parameter matching JSDoc
  src/lib/audio-manifest.ts
Due: biome check --write

[tagpr] prepare for the next release
  package.json
Due: none

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: use hanzi-override in content generation
  scripts/generate-contents.ts
  src/components/HakubunWithTabs.tsx
  src/types/content.ts
Due: biome check --write

fix: pinyin
  contents/input/lunyu/17/21.yaml
  src/data/hanzi-dictionary.ts
Due: biome check --write, prettier --write

feat: add 論語 17-10
  contents/input/lunyu/17/10.yaml
  src/data/hanzi-dictionary.ts
  src/data/kunyomi-dictionary.ts
Due: biome check --write, prettier --write

feat: generate audio
  audio-manifest.json
Due: none

fix: add 盜 entry to kunyomi dictionary
  src/data/kunyomi-dictionary.ts
Due: biome check --write

fix: validate hanzi_overrides
  scripts/generate-contents.ts
Due: biome check --write

feat: provide favorite function
  .env.example
  .gitignore
  adr/0025-client-side-firestore-operations.md
  firestore.indexes.json
  firestore.rules
  src/app/books/[bookId]/[sectionId]/[chapterId]/page.tsx
  src/app/favorites/page.tsx
  src/components/ContentPageClient.tsx
  src/components/FavoriteButton.tsx
  src/components/FavoriteContentList.tsx
  src/lib/access-history.ts
  src/lib/favorites.ts
  src/types/favorite.ts
Due: biome check --write

feat: provide favorite in list page
  src/app/books/[bookId]/[sectionId]/page.tsx
Due: biome check --write

fix: truncate content in list view
  src/app/books/[bookId]/[sectionId]/page.tsx
Due: biome check --write

feat: add favorites sidebar to list pages and improve favorites page UX
  firebase.json
  src/app/books/[bookId]/[sectionId]/page.tsx
  src/app/books/[bookId]/page.tsx
  src/app/favorites/page.tsx
  src/app/page.tsx
  src/components/AuthButton.tsx
  src/components/FavoriteButton.tsx
  src/components/FavoriteContentList.tsx
  src/components/PageWithSidebar.tsx
  src/lib/access-history.ts
  src/lib/favorites.ts
  src/lib/firebase.ts
Due: biome check --write

fix: show favorite column inside content section
  src/app/books/[bookId]/[sectionId]/page.tsx
  src/app/books/[bookId]/page.tsx
  src/app/page.tsx
Due: biome check --write

fix: stretch main content if logged-out
  src/app/books/[bookId]/[sectionId]/page.tsx
  src/app/books/[bookId]/page.tsx
  src/components/ListWithFavoriteSidebar.tsx
Due: biome check --write

feat: make navbar sticky
  src/components/Navbar.tsx
Due: biome check --write

feat: link to お気に入り from dropdown menu
  src/components/AuthButton.tsx
Due: biome check --write

fix: お気に入り -> お気に入り一覧
  src/app/favorites/page.tsx
  src/components/AuthButton.tsx
Due: biome check --write

fix: navigate logged-out user to login
  src/app/favorites/page.tsx
Due: biome check --write

feat: hide dropdown menu on ESC
  src/components/AuthButton.tsx
Due: biome check --write

fix: limit length of fav list on mobile
  src/app/books/[bookId]/[sectionId]/[chapterId]/page.tsx
  src/components/ListWithFavoriteSidebar.tsx
  src/components/ResponsiveFavoriteContentList.tsx
Due: biome check --write

feat: make headers sticky
  src/app/books/[bookId]/[sectionId]/[chapterId]/page.tsx
  src/app/books/[bookId]/[sectionId]/page.tsx
  src/app/books/[bookId]/page.tsx
Due: biome check --write

fix: improve defensive coding in favorites feature
  src/app/favorites/page.tsx
  src/components/FavoriteButton.tsx
  src/components/FavoriteContentList.tsx
  src/lib/access-history.ts
Due: biome check --write

fix: ruby position in sakuin page
  src/app/sakuin/page.tsx
Due: biome check --write

feat: provide auth function on production
  src/components/AuthButton.tsx
Due: biome check --write

fix(ui): stretch main content if no favorites
  src/components/ListWithFavoriteSidebar.tsx
Due: biome check --write

fix: rule for manipulating Firebase
  firestore.rules
Due: none

fix: resolve bad rendering
  src/components/ListWithFavoriteSidebar.tsx
Due: biome check --write

feat: include metadata to each page
  src/app/books/[bookId]/[sectionId]/[chapterId]/page.tsx
  src/app/books/[bookId]/[sectionId]/page.tsx
  src/app/books/[bookId]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/stats/page.tsx
  src/lib/metadata.ts
Due: biome check --write

Path conditions:
  biome check --write: any of: *.{ts,tsx}
  prettier --write: any of: contents/**/*.yaml
