Repository Rindrics/izuminokami-kanesada: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: enable /char/[char] page in local
  next.config.ts
Due: biome check --write

fix: adjust pause at in-line spaces
  scripts/generate-audio.test.ts
  scripts/generate-audio.ts
Due: biome check --write

feat: add 論語 17-21
  audio-manifest.json
  contents/input/lunyu/17/21.yaml
  src/data/hanzi-dictionary.ts
  src/data/kunyomi-dictionary.ts
Due: biome check --write, prettier --write

fix: build error
  src/components/graphs/AlluvialDiagram.tsx
  src/components/graphs/ChordDiagram.tsx
  src/lib/chart-theme.ts
Due: biome check --write

chore: remove initial guess
  mcp-server/src/tools/dictionary.ts
Due: biome check --write

feat: add 論語 18-1
  audio-manifest.json
  contents/input/lunyu/18/1.yaml
  src/data/hanzi-dictionary.ts
  src/data/kunyomi-dictionary.ts
Due: biome check --write, prettier --write

fix: add punctuations
  contents/input/lunyu/17/21.yaml
Due: prettier --write

fix: build error
  src/lib/audio.ts
Due: biome check --write

fix: add missing character to dictionary
  src/data/kunyomi-dictionary.ts
Due: biome check --write

fix: allow continuous multiple segments by same speaker
  src/lib/validators/content.ts
Due: biome check --write

feat: generate audio
  audio-manifest.json
Due: none

fix: make japanese audio optional
  scripts/validate-audio-manifest.ts
Due: biome check --write

fix: resolve unused imports and variables in AlluvialDiagram, ChordDiagram, chart-theme
  src/components/graphs/AlluvialDiagram.tsx
  src/components/graphs/ChordDiagram.tsx
  src/lib/chart-theme.ts
Due: biome check --write

chore(deps): add firebase client SDK
  package.json
  pnpm-lock.yaml
Due: none

feat(auth): add Firebase client config and AuthContext
  next.config.ts
  src/contexts/AuthContext.tsx
  src/lib/firebase.ts
Due: biome check --write

docs(spec): auth button state
  spec/.gitignore
  spec/AuthButtonState.cfg
  spec/AuthButtonState.tla
  spec/README.md
Due: none

feat(auth): add AuthButton and integrate in layout and Navbar
  src/app/layout.tsx
  src/components/AuthButton.tsx
  src/components/Navbar.tsx
Due: biome check --write

feat(firestore): add security rules for user data and comments
  firestore.rules
Due: none

docs: document Firebase client and admin environment variables
  .env.example
  README.md
Due: none

fix: correct pinyin
  src/data/hanzi-dictionary.ts
Due: biome check --write

ci: get envvars from repo variable
  .github/workflows/deploy.yml
  .github/workflows/firebase-preview.yml
  .github/workflows/test.yml
Due: none

fix(security): require userId ownership check on comment creation
  firestore.rules
Due: none

fix(spec): change initial auth value guest -> loading
  spec/AuthButtonState.tla
Due: none

fix(ui): use context-aware fallback error messages in AuthButton
  src/components/AuthButton.tsx
Due: biome check --write

fix(firebase): prevent initialization when config is missing
  src/contexts/AuthContext.tsx
  src/lib/firebase.ts
Due: biome check --write

fix(security): prevent userId modification on comment update
  firestore.rules
Due: none

fix(ui): delay form close to allow success message visibility
  src/components/AuthButton.tsx
Due: biome check --write

fix: button text
  src/components/AuthButton.tsx
Due: biome check --write

chore: disable auth on production
  src/components/AuthButton.tsx
Due: biome check --write

[tagpr] prepare for the next release
  package.json
Due: none

feat: add 論語 19-1
  contents/input/lunyu/19/1.yaml
  contents/persons.yaml
  src/data/hanzi-dictionary.ts
  src/data/kunyomi-dictionary.ts
Due: biome check --write, prettier --write

fix: import path of MCP tool
  adr/0023-mcp-server-dynamic-import-strategy.md
  mcp-server/src/tools/content.ts
  mcp-server/tsconfig.json
Due: biome check --write

style: format
  mcp-server/src/tools/content.ts
Due: biome check --write

fix: bad logging that caused error
  mcp-server/src/tools/content.ts
Due: biome check --write

feat: add 論語 19-2
  contents/input/lunyu/19/2.yaml
  src/data/hanzi-dictionary.ts
  src/data/kunyomi-dictionary.ts
Due: biome check --write, prettier --write

chore: allow continuous segments with same speaker
  mcp-server/src/tools/content.ts
  src/lib/validators/content.ts
Due: biome check --write

Path conditions:
  biome check --write: any of: *.{ts,tsx}
  prettier --write: any of: contents/**/*.yaml
