Repository Rindrics/izuminokami-kanesada: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

feat(data): add 2-1
  contents/input/lunyu/2/1.yaml
  src/data/hanzi-dictionary.ts
  src/data/kunyomi-dictionary.ts
Due: biome check --write, prettier --write

feat: ensure pinyin is reviewed before audio generation
  mcp-server/src/tools/content.ts
Due: biome check --write

feat: sanitize argument
  scripts/generate-and-upload-audio.ts
Due: biome check --write

fix(adr): update status
  adr/0017-audio-manifest-strategy.md
Due: none

fix(adr): typo
  adr/0018-audio-generation-strategy.md
Due: none

fix(adr): explain mentioned field
  adr/0021-speaker-field-semantics.md
Due: none

fix(mcp): logic for narration auto-fix
  mcp-server/src/tools/content.ts
Due: biome check --write

fix(audio): validate position of sound override
  scripts/generate-audio.ts
Due: biome check --write

fix(validation): handle git error
  scripts/validate-audio-manifest.ts
Due: biome check --write

fix(dictionary): remove duplicated entry
  mcp-server/src/tools/dictionary.ts
  scripts/validate-content-diff.ts
  src/data/hanzi-dictionary.ts
  src/lib/validators/hanzi.ts
Due: biome check --write

fix(data): lunyu 2-1
  audio-manifest.json
  contents/input/lunyu/2/1.yaml
Due: prettier --write

fix: import .ts not .js
  mcp-server/src/tools/content.ts
  mcp-server/src/tools/dictionary.ts
Due: biome check --write

refactor(scripts): replace regex parsing with direct module import in loadHanziDictionary
  scripts/generate-audio.test.ts
  scripts/generate-audio.ts
Due: biome check --write

refactor(mcp-server): unify audio upload script invocation pattern
  mcp-server/src/tools/content.ts
Due: biome check --write

feat(stat): ignore 勿 from frequency ranking
  contents/input/frequency-blacklist.yaml
Due: prettier --write

feat(stats): support compound words in frequency ranking
  contents/input/compound-words.yaml
  scripts/generate-contents.ts
  src/app/stats/page.tsx
Due: biome check --write, prettier --write

fix(build): exclude compound-words.yaml from validation target
  scripts/validate-content-diff.ts
Due: biome check --write

feat: add data extraction logic for speaker relationship graphs
  scripts/generate-contents.ts
Due: biome check --write

feat(ui): add chart theme and Cytoscape.js dependencies
  package.json
  src/lib/chart-theme.ts
Due: biome check --write

feat: implement dialogue and mention graph components
  src/components/DialogueGraph.tsx
  src/components/MentionGraph.tsx
Due: biome check --write

feat: integrate dialogue and mention graphs into stats page
  package.json
  pnpm-lock.yaml
  src/app/stats/page.tsx
  src/components/DialogueGraph.tsx
  src/components/MentionGraph.tsx
Due: biome check --write, prettier --write

fix(ui): tidy diagram
  src/components/DialogueGraph.tsx
  src/components/MentionGraph.tsx
Due: biome check --write

fix(ui): change node shape
  src/components/DialogueGraph.tsx
  src/components/MentionGraph.tsx
Due: biome check --write

feat: extract relationship from narrated phrase
  scripts/generate-contents.ts
Due: biome check --write

feat(stats): add person-to-concept edges for standalone speeches
  scripts/generate-contents.ts
  src/components/DialogueGraph.tsx
Due: biome check --write

feat(ui): improve graph layout with fcose to prevent node overlap
  package.json
  pnpm-lock.yaml
  src/components/DialogueGraph.tsx
  src/components/MentionGraph.tsx
Due: biome check --write, prettier --write

feat(ui): show content links on edge hover in graphs
  scripts/generate-contents.ts
  src/components/DialogueGraph.tsx
  src/components/MentionGraph.tsx
Due: biome check --write

feat(ui): lower color tone
  src/components/DialogueGraph.tsx
  src/components/MentionGraph.tsx
  src/lib/chart-theme.ts
Due: biome check --write

fix(ui): remove duplicated diagram
  src/app/stats/page.tsx
Due: biome check --write

feat(ui): add interactive popup to graph edges showing related content links
  src/components/DialogueGraph.tsx
  src/components/MentionGraph.tsx
Due: biome check --write

fix: build error
  src/components/DialogueGraph.tsx
  src/components/MentionGraph.tsx
Due: biome check --write

feat(ui): unify color of person nodes
  src/components/DialogueGraph.tsx
  src/components/MentionGraph.tsx
  src/lib/chart-theme.ts
Due: biome check --write

fix(generate-contents): derive topic from next segment for narration-style questions
  scripts/generate-contents.ts
Due: biome check --write

refactor(dialogue-graph): use generated types instead of local definitions
  src/app/stats/page.tsx
  src/components/DialogueGraph.tsx
Due: biome check --write

fix(dialogue-graph): execute layout.run() to apply fcose positioning
  src/components/DialogueGraph.tsx
Due: biome check --write

fix: build error
  src/components/MentionGraph.tsx
Due: biome check --write

fix(build): remove encodeURIComponent from char page params to fix Firebase Hosting 404
  src/app/char/[char]/page.tsx
Due: biome check --write

fix: handle URL encoding for char routes on Firebase Hosting
  src/app/char/[char]/page.tsx
  src/components/ClickableChar.tsx
Due: biome check --write

fix: use encoded params to fix dev server errors and Firebase compatibility
  firebase.json
  src/app/char/[char]/page.tsx
Due: biome check --write

fix: enable trailing slash to fix char route handling in dev and production
  firebase.json
  next.config.ts
Due: biome check --write

Path conditions:
  biome check --write: any of: *.{ts,tsx}
  prettier --write: any of: *.yaml
