Repository Rindrics/izuminokami-kanesada: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["biome check --write"],
  "contents/**/*.yaml": ["prettier --write"]
}

feat: provide face chart
  src/app/stats/page.tsx
  src/components/graphs/ChernoffFaces.tsx
Due: biome check --write

refactor: remove field 'mentioned' because it is now generated
  contents/input/daxue/1/1.yaml
  contents/input/lunyu/1/1.yaml
  contents/input/lunyu/1/10.yaml
  contents/input/lunyu/1/11.yaml
  contents/input/lunyu/1/2.yaml
  contents/input/lunyu/1/3.yaml
  contents/input/lunyu/1/4.yaml
  contents/input/lunyu/1/5.yaml
  contents/input/lunyu/1/6.yaml
  contents/input/lunyu/1/7.yaml
  contents/input/lunyu/1/8.yaml
  contents/input/lunyu/1/9.yaml
  contents/input/lunyu/12/1.yaml
  contents/input/lunyu/17/8.yaml
  contents/input/lunyu/2/1.yaml
  contents/input/mengzi/1/1-1.yaml
  contents/input/mengzi/1/1-2.yaml
  contents/input/mengzi/1/1-3.yaml
  contents/input/mengzi/1/1-4.yaml
  contents/input/zhongyong/1/1.yaml
  scripts/generate-contents.test.ts
  scripts/generate-contents.ts
Due: biome check --write, prettier --write

fix: build error
  biome.json
  scripts/generate-and-upload-audio.ts
  scripts/generate-audio.test.ts
  scripts/generate-contents.ts
  scripts/upload-audio.ts
  src/components/graphs/VoronoiTreemap.tsx
Due: biome check --write

feat: provide timeline chart
  contents/books.yaml
  contents/persons.yaml
  scripts/generate-contents.ts
  src/app/stats/page.tsx
  src/components/graphs/TimelineFineo.tsx
  src/types/book.ts
Due: biome check --write, prettier --write

fix(ui): switch word cloud view by tab not dropdown
  src/components/graphs/WordCloud.tsx
Due: biome check --write

fix(ui): improve circular layout
  src/components/graphs/CircularLayout.tsx
Due: biome check --write

fix(TimelineFineo): use '::' delimiter for link IDs to support hyphenated person IDs
  src/components/graphs/TimelineFineo.tsx
Due: biome check --write

refactor(biome): replace global noStaticElementInteractions disable with targeted suppressions
  biome.json
  src/components/graphs/TimelineFineo.tsx
Due: biome check --write

refactor(types): consolidate GraphNode/GraphEdge/SpeakerGraph definitions
  scripts/generate-contents.ts
Due: biome check --write

fix(generate-contents): remove duplicate '愚' entry from KEY_CONCEPTS
  scripts/generate-contents.ts
Due: biome check --write

fix(BioFabricGraph): change height prop to number type
  src/components/graphs/BioFabricGraph.tsx
Due: biome check --write

fix(BioFabricGraph): use different fill color for highlighted labels
  src/components/graphs/BioFabricGraph.tsx
Due: biome check --write

fix(VoronoiTreemap): add seeded PRNG for deterministic layout
  package.json
  pnpm-lock.yaml
  src/components/graphs/VoronoiTreemap.tsx
Due: biome check --write

fix(CircularLayout): use theme tokens for stroke colors
  src/components/graphs/CircularLayout.tsx
Due: biome check --write

fix(CircularLayout): use Tailwind classes for background circle fill
  src/components/graphs/CircularLayout.tsx
Due: biome check --write

fix(CircularLayout): use Tailwind classes for center label fill
  src/components/graphs/CircularLayout.tsx
Due: biome check --write

fix: build error
  scripts/generate-contents.ts
Due: biome check --write

[tagpr] prepare for the next release
  package.json
Due: none

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: lunyu 17-8
  contents/input/lunyu/17/8.yaml
  src/data/hanzi-dictionary.ts
  src/data/kunyomi-dictionary.ts
Due: biome check --write, prettier --write

fix: add dependencies to upload audio
  .env.example
  package.json
  pnpm-lock.yaml
Due: none

feat: upload onyomi lunyu 17-8
  audio-manifest.json
Due: none

fix(build): move strnum to dev dependency
  package.json
  pnpm-lock.yaml
Due: none

fix(stat): correct parse logic
  scripts/generate-contents.test.ts
  scripts/generate-contents.ts
  src/app/stats/page.tsx
  src/components/graphs/AlluvialDiagram.tsx
  src/components/graphs/CharChordDiagram.tsx
  src/components/graphs/ChernoffFaces.tsx
  src/components/graphs/CircularLayout.tsx
  src/components/graphs/WordCloud.tsx
  src/data/key-concepts.ts
Due: biome check --write

fix: remove "君" from key concepts
  src/data/key-concepts.ts
Due: biome check --write

fix: use key concepts in bio fabric diagram
  src/components/graphs/BioFabricGraph.tsx
Due: biome check --write

feat: show chord diagram in multi color
  src/components/graphs/ChordDiagram.tsx
Due: biome check --write

chore(ui): use shared color palette
  src/components/DialogueGraph.tsx
  src/components/graphs/BioFabricGraph.tsx
  src/components/graphs/ChordDiagram.tsx
  src/lib/chart-theme.ts
Due: biome check --write

chore: remove redundant edge label to concept nodes
  src/components/DialogueGraph.tsx
Due: biome check --write

feat: improve timeline chart
  scripts/generate-contents.ts
  src/app/stats/page.tsx
  src/components/graphs/TimelineFineo.tsx
Due: biome check --write

feat: improve alluvial diagram
  src/components/graphs/AlluvialDiagram.tsx
Due: biome check --write

feat(ui): use common color palette for characters and books
  src/components/graphs/AlluvialDiagram.tsx
  src/components/graphs/TimelineFineo.tsx
  src/components/graphs/VoronoiTreemap.tsx
  src/lib/chart-theme.ts
Due: biome check --write

chore: fix double-counting of edge weight in bookConceptCounts
  src/components/graphs/AlluvialDiagram.tsx
Due: biome check --write

chore: remove '君' from key concepts, keep only '君子'
  src/components/graphs/ChernoffFaces.tsx
  src/data/key-concepts.ts
Due: biome check --write

feat: add Google Analytics tag
  .env.example
  .github/workflows/deploy.yml
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: biome check --write

feat: create sitemap.xml
  .env.example
  .github/workflows/deploy.yml
  src/app/sitemap.ts
Due: biome check --write

feat: create robots.txt
  src/app/robots.ts
Due: biome check --write
