Repository Rindrics/izuminokami-kanesada: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

feat: upload audio
  audio-manifest.json
Due: none

fix(ui): move prec/next button upwards
  src/app/books/[bookId]/[sectionId]/[chapterId]/page.tsx
Due: biome check --write

fix(ui): remove color from button
  src/components/KeyboardNavigation.tsx
Due: biome check --write

feat(ui): show index in 3 columns
  src/app/sakuin/page.tsx
Due: biome check --write

feat(ui): change button color
  src/app/sakuin/page.tsx
Due: biome check --write

fix(ui): remove number of characters form heading
  src/app/sakuin/page.tsx
Due: biome check --write

feat(ui): show only first character of book name
  src/app/sakuin/page.tsx
Due: biome check --write

feat(ui): show ruby on index
  src/app/sakuin/page.tsx
Due: biome check --write

fix(ui): remove unnecessary metrics
  src/app/sakuin/page.tsx
Due: biome check --write

fix: onyomi
  src/data/hanzi-dictionary.ts
Due: biome check --write

fix(ui): remove unnecessary element
  src/app/sakuin/page.tsx
Due: biome check --write

fix(ui): adjust margin
  src/app/sakuin/page.tsx
Due: biome check --write

fix(ui): show 君子 in カ行
  src/app/sakuin/page.tsx
Due: biome check --write

fix(ui): remove color from index
  src/app/sakuin/page.tsx
Due: biome check --write

feat: link each index to /char/[char]
  src/app/sakuin/page.tsx
Due: biome check --write

Update Japanese translation for text in 21.yaml
  contents/input/lunyu/17/21.yaml
Due: prettier --write

fix(ui): show tooltip
  src/components/KeyboardNavigation.tsx
Due: biome check --write

[tagpr] prepare for the next release
  package.json
Due: none

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Due: none

docs(adr): segment-based audio generation
  adr/0024-segment-based-audio-generation.md
  models/.gitignore
  models/AudioPlayer.cfg
  models/AudioPlayer.tla
  models/README.md
Due: none

refactor: change audio manifest structure to segment-based format
  scripts/generate-audio.ts
  scripts/upload-audio.ts
  scripts/validate-audio-manifest.ts
  src/app/api/audio/save/route.ts
  src/lib/audio-manifest.ts
  src/lib/audio.ts
Due: biome check --write

feat: add segment-based audio URL generation function
  src/lib/audio.ts
Due: biome check --write

chore: give backward compatibility to audio manifest
  src/lib/audio-manifest.ts
Due: biome check --write

feat: generate audio files per segment instead of per chapter
  scripts/generate-audio.ts
Due: biome check --write

refactor: update upload script for segment-based audio files
  scripts/upload-audio.ts
Due: biome check --write

refactor: update manifest validation for segment-based structure
  scripts/validate-audio-manifest.ts
Due: biome check --write

feat: support segment-based Japanese audio file uploads
  src/app/api/audio/save/route.ts
Due: biome check --write

feat: add script to migrate chapter-based manifest to segment-based
  package.json
  scripts/migrate-audio-manifest.ts
Due: biome check --write

chore: migrate audio manifest
  audio-manifest.json
Due: none

chore: generate segment-based audio
  audio-manifest.json
Due: none

feat: provide segment play button
  src/app/books/[bookId]/[sectionId]/[chapterId]/page.tsx
  src/components/HakubunWithTabs.tsx
  src/components/SegmentPlayButton.tsx
  src/hooks/useSegmentPlayer.ts
Due: biome check --write

feat: provide play-target selection functionality
  models/AudioPlayer.cfg
  models/AudioPlayer.tla
  src/app/books/[bookId]/[sectionId]/[chapterId]/page.tsx
  src/components/AudioPlayer.tsx
Due: biome check --write

chore: show language on ly when needed
  src/components/AudioPlayer.tsx
Due: biome check --write

feat: hide in-line play button default
  src/components/AudioPlayer.tsx
  src/components/HakubunWithTabs.tsx
Due: biome check --write

feat: show player on right column on PC
  src/app/books/[bookId]/[sectionId]/[chapterId]/page.tsx
Due: biome check --write

feat: show replay target selectors in columnar direction
  src/components/AudioPlayer.tsx
Due: biome check --write

fix: build error
  src/app/books/[bookId]/[sectionId]/[chapterId]/page.tsx
Due: biome check --write

fix: use ref for playSegment to avoid stale closure in event listeners
  src/components/AudioPlayer.tsx
Due: biome check --write

fix(models): wrap NoLoopEventuallyStops with box operator for all states
  models/AudioPlayer.tla
Due: none

refactor(page): use single AudioPlayer instance with responsive layout
  src/app/books/[bookId]/[sectionId]/[chapterId]/page.tsx
Due: biome check --write

Path conditions:
  biome check --write: any of: *.{ts,tsx}
  prettier --write: any of: contents/**/*.yaml
